@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Venue Page";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container bg-light font-weight-bolder">

    <h3 class="text-center mb-5 text-dark">Add Venue</h3>
    <form action="/" method="post">
        <div class="row mb-3">
            <label for="inputVenueName" class="col-sm-2 col-form-label">Venue Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputVenueName" placeholder="Venue Name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAddress" placeholder="Venue Address">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputCapacity" class="col-sm-2 col-form-label">Capacity</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCapacity" placeholder="Venue Capacity">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPrice" placeholder="Venue Price">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inpuDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inpuDescription" placeholder="Venue Description">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block text-uppercase col-sm-5 mb-2 rounded-pill shadow-sm">Add</button>
    </form>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Venue ID</th>
                <th scope="col">Venue Name</th>
                <th scope="col">Address</th>
                <th scope="col">Capacity</th>
                <th scope="col">Price</th>
                <th scope="col">Descriptions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
