@model EventPlanner.Models.Design

@{
    ViewData["Title"] = "AddDesign";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="text-center text-uppercase" style="font-family:serif; font-style:italic">Add Design</h1>



<div class="row container-fluid bg-light align-items-center" style="font-family:serif; font-style:italic">
    <div class="col-md-6">

        <form asp-action="AddDesign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Design_id" class="control-label"></label>
                <input asp-for="Design_id" class="form-control" />
                <span asp-validation-for="Design_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Design_theme" class="control-label"></label>
                <input asp-for="Design_theme" class="form-control" />
                <span asp-validation-for="Design_theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design_cost" class="control-label"></label>
                <input asp-for="Design_cost" class="form-control" />
                <span asp-validation-for="Design_cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design_description" class="control-label"></label>
                <input asp-for="Design_description" class="form-control" />
                <span asp-validation-for="Design_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="ManageDesign">Back to List</a>
        </div>
    </div>

    <div class="col-md-6">
        <img class="img-fluid" src="~/asset/designcollection.jpg" alt="Alternate Text" />
        <h5 class="text-uppercase">Add a new Design.</h5>
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
