@model EventPlanner.Models.Menu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="font-family:serif; font-style:italic">Edit</h1>

<h4 style="font-family:serif; font-style:italic">Menu</h4>
<hr />
<div class="row" style="font-family:serif; font-style:italic">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Menu_id" class="control-label"></label>
                <input asp-for="Menu_id" class="form-control" readonly />
                <span asp-validation-for="Menu_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu_name" class="control-label"></label>
                <input asp-for="Menu_name" class="form-control" />
                <span asp-validation-for="Menu_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item_starter" class="control-label"></label>
                <input asp-for="Item_starter" class="form-control" />
                <span asp-validation-for="Item_starter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item_maincourse" class="control-label"></label>
                <input asp-for="Item_maincourse" class="form-control" />
                <span asp-validation-for="Item_maincourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item_dessert" class="control-label"></label>
                <input asp-for="Item_dessert" class="form-control" />
                <span asp-validation-for="Item_dessert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu_price" class="control-label"></label>
                <input asp-for="Menu_price" class="form-control" />
                <span asp-validation-for="Menu_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageMenu">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
