
@{
    ViewData["Title"] = "Caterin Service Page";
}

<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Content-->
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                        <img src="https://i.pinimg.com/564x/2a/7c/c0/2a7cc058b5b42b408c72fc41b896987b.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <h4><strong>Catering Services</strong></h4>
                    <p class="text-muted">

                    </p>
                </div>
            </div>
        </section>
        <!--Section: Content-->



        <hr class="my-5" />

        <h4 class="text-center mb-5"><strong>Available Menus</strong></h4>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Menu A</h3>
                        <h6>Snacks:</h6>
                        <p></p>
                        <h6>Main Course:</h6>
                        <p></p>
                        <h6>Dessert:</h6>
                        <p></p>
                        <h6>Cost:</h6>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5" />

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Menu B</h3>
                        <h6>Snacks:</h6>
                        <p></p>
                        <h6>Main Course:</h6>
                        <p></p>
                        <h6>Dessert:</h6>
                        <p></p>
                        <h6>Cost:</h6>
                        <p>Rs 200/plate</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5" />
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Menu C</h3>
                        <p></p>
                        <h6>Snacks:</h6>
                        <p></p>
                        <h6>Main Course:</h6>
                        <p></p>
                        <h6>Dessert:</h6>
                        <p></p>
                        <h6>Cost:</h6>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5" />
    </div>
</main>