@{
    ViewData["Title"] = "Home Page";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<!--Slider image-->
@*<div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/asset/bg.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/asset/holievent.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/asset/party.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>*@

<div class="container " style="font-family:serif; font-style:italic">
    <div class="events" style="font-family:serif; font-style:italic">
        <p>“What you need, is an Event, to remember for a lifetime.”</p>

        <!--About us-->
        <h2 style="text-align:center"><hr /> About Us<hr /></h2>
        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-6">
                        <h2 class="display-4">About us</h2>
                        <p class="font-italic text-muted mb-4 text-uppercase">
                            Planner is a Event Booking and Managment system which creates exclusive events
                            in and outside for Social, Private, Corporations and charity events.
                            Planner contains different venues around Kathmandu city with venue capacity and price.
                            It also have options to select the theme or the design of the event with price included. Catering Services are provided us with food menu and price per plate.
                            Working directly with the events and company saves time and money and guarantees sucess.
                        </p>


                    </div>
                    <div class="col-lg-6 d-none d-lg-block"><img src="https://images.unsplash.com/photo-1522389903690-657f5318cf1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTh8fGluZGlhbiUyMHdlZGRpbmd8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
        <h2 style="text-align: center"><hr /> Our Services <hr /></h2>
        <div class="bg-white py-3">
            <div class="container py-5">
                <div class="row align-items-center mb-5">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <i class="fab fa-fort-awesome fa-2x"></i>
                        <h2 class="font-weight-light">Venues</h2>
                        <p class="font-italic text-muted mb-4">
                            Buget and luxury venues are accociated with us.
                            All the necsesary information regarding venues are also mentioned. 
                            Customer can Choose the venue according to them.
                        </p>
                        <a class="btn btn-info px-5 rounded-pill shadow-sm" asp-area="" asp-controller="home" asp-action="Venue">Learn More</a>
                    </div>
                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="~/asset/designs/heritagegarden.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-lg-5 px-5 mx-auto"><img src="https://media.gettyimages.com/photos/couples-at-the-masquerade-ball-picture-id160178392?k=6&m=160178392&s=612x612&w=0&h=Ae-aL8yOO3XURNeZpGGLs83Ae5ggp2p05z4AY_-nwew=" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                    <div class="col-lg-6 mb-3">
                        <i class="fas fa-theater-masks fa-2x"></i>
                        <h2 class="font-weight-light">Designs for Parties</h2>
                        <p class="font-italic text-muted mb-4 text-capitalize">
                            you simply need to choose the we can arrange some of the best theme parties with various themes
                            like cartoon characters, seasons, fruits, superheroes, vibrant colours, chocolate, bollywood, hollyhood
                            ,scary house, masquerade party and more.
                        </p>
                        <a class="btn btn-info px-5 rounded-pill shadow-sm" asp-area="" asp-controller="home" asp-action="Design">Learn More</a>

                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <i class="fas fa-utensils fa-2x"></i>
                        <h2 class="font-weight-light">Catering Services</h2>
                        <p class="font-italic text-muted mb-4">
                            We have created the Menus according to event format. 
                            Vegetarian and non veg menu are also available. 
                            Breakfast and lunch menu are also available with us.
                        </p>
                        <a class="btn btn-info px-5 rounded-pill shadow-sm" asp-area="" asp-controller="home" asp-action="CateringServices">Learn More</a>
                    </div>
                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://i.pinimg.com/564x/2a/7c/c0/2a7cc058b5b42b408c72fc41b896987b.jpg" alt="" class="img-fluid mt-2 mb-4 mb-lg-0"></div>
                </div>
            </div>
        </div>

        <!--upcoming events-->
        <h2 style="text-align:center"><hr />  Upcoming Events<hr /></h2>
        
        <div id="card-multi" class="card" data-ride="card">
            <div class="carousel-inner" role="listbox">

                <!--cards-->
                <div class="carousel-item active">

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="~/asset/upcomingeventmusicfestival.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Music Festival by Spark</h4>
                                <p class="card-text">
                                    First electronin Dance Music Festival in Nepal.
                                    Tents, Food Stall, Drinks, Game, Wifi, Artificial Pool, 
                                    Light Show, Fireworks Show.
                                </p>
                                <p>
                                    Ticket Price : Rs 1800 for 3 days entry.
                                    Sleeping Tents are availabel at Rs 1000 per night.
                                </p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="~/asset/khukurimusifest.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Khukuri Music Festival</h4>
                                <p class="card-text">
                                    KHUKURI MUSIC FESTIVAL
                                    Nepal's Happiest festival
                                    28th August 2021
                                    2pm to 10pm
                                    At MAlla Hotel
                                    performing artist;
                                    Bartika eam rai | Bikki gurung | Bipul chettri | 5:55 | The elements | Blues and spark | Vek | Pahelo batti muni
                                    DJ line up
                                    FInzok | Bidhan lama | bikki cool | BPM |Neil | Ma33sh | Pal10
                                    Ticket price : 1500
                                </p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                                <a class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/.Slides-->

        </div>
        <!--/Card Wrapper-->
        <hr />
    </div>
</div>

<!--footer of home page-->
<!-- Footer -->
<!-- Footer -->
<footer class="bg-danger text-center text-lg-start mb-0">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white">The Planner</h5>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p class="text-white">
                            “Perfection is not attainable, but if we chase perfection we can catch excellence.”
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-white">
                        <cite title="Source Title">Vince Lombardi</cite>
                    </figcaption>
                </figure>
                <p class="text-white">We Make Your Event Memorable and Successfull.
                The most Succesfull event is the one that achives your goals and exceeds your expectation.
                </p>
                
                
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-white">
                <h5 class="text-uppercase">Go to</h5>

                <ul class="list-unstyled mb-0 text-white">
                    <li>
                        <a asp-controller="home" asp-action="login" class="text-white">Login</a>
                    </li>
                    <li>
                        <a asp-controller="user" asp-action="register" class="text-white">Register</a>
                    </li>
                    <li>
                        <a asp-controller="home" asp-action="venue" class="text-white">Associated Venue</a>
                    </li>
                    <li>
                        <a asp-controller="home" asp-action="cateringservices" class="text-white">Our Menus</a>
                    </li>
                    <li>
                        <a asp-controller="home" asp-action="design" class="text-white">Our Designs</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        plannerkathmandu.com
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
