
@{
    ViewData["Title"] = "Venue Page";
}

<!--Main layout-->
<main class="mt-5" style="font-family:serif; font-style:italic">
    <div class="container">
        <!--Section: Content-->
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                        <img src="https://media.gettyimages.com/photos/couples-at-the-masquerade-ball-picture-id160178392?k=6&m=160178392&s=612x612&w=0&h=Ae-aL8yOO3XURNeZpGGLs83Ae5ggp2p05z4AY_-nwew=" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <h4><strong>Venues</strong></h4>
                    <p class="text-muted">

                    </p>
                </div>
            </div>
        </section>
        <!--Section: Content-->



        <hr class="my-5" />
        <section class="text-left">
            <h4 class="mb-5"><strong>Associated Venues</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src=""
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">The Heritage Garden</h3>
                            <h6>Address</h6>
                            <h6>Capacity</h6>
                            <h6>Description</h6>
                            <h6>Cost:</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src=""
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Manbhawan Banqet</h3>
                            <h6>Address</h6>
                            <h6>Capacity</h6>
                            <h6>Description</h6>
                            <h6>Cost:</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src=""
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Classic Venue</h3>
                            <h6>Address</h6>
                            <h6>Capacity</h6>
                            <h6>Description</h6>
                            <h6>Cost:</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="my-5" />
    </div>
</main>