
@{
    ViewData["Title"] = "Booking Records Page";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Booing Id</th>
                <th scope="col">Number of Guest</th>
                <th scope="col">asdf</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">#</th>
                <th>First</th>
                <th>Last</th>
                <th>Handle</th>
            </tr>
        </tbody>
    </table>

</div>